html,body{
  height:100%;
  margin: 0px;
  padding:0px;
}
*{
  font-family: 微軟正黑體,sans-serif;
  position: relative;
}
.canvas{
  height:100%;
}
.wrapper{
  width:300px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

span{
  font-size: 26px;
  font-weight: bold;
}

.start{
  display: block;
  margin: 0px auto;
  margin-top: 10px;
}

.colorChange{
  background-color: DarkSeaGreen;
}

.again{
  display: none;
  margin: 0px auto;
}

.show{
  display: block;
}

.disappear{
  display: none;
}